header>img{
	width: 100%;
	height: auto;
}
.carousel-inner>.item>.intr{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-image:-webkit-linear-gradient(to right, rgba(255,255,255,0),rgba(52,109,122,0.9)); 
	background-image:linear-gradient(to right,rgba(255,255,255,0),rgba(52,109,122,0.9));
}
.carousel-inner>div.item:nth-child(2)>.intr{
	left: 0;
	background-image:-webkit-linear-gradient(to left, rgba(255,255,255,0),rgba(52,109,122,0.9)); 
	background-image:linear-gradient(to left,rgba(255,255,255,0),rgba(52,109,122,0.9));
}
.carousel-inner>.item>.intr p{
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 50%;
	margin-bottom: 40px;
}
.carousel-inner>.item>.intr span{
	display: block;
	margin: auto;
	color: white;
	font-size: 24px;
	text-align: center;
}
.com_intr{
	width: 100%;
	height: auto;
	padding-top: 100px;
	background: #222;
}
.com_intr p.title01{
	width: 167px;
	height: 121px;
	background: url(img/title01.png);
	margin: auto;
}
.com_intr p.font{
	width: 80%;
	margin: auto;
	font-size: 20px;
	color: white;
	line-height: 32px;
	text-indent: 40px;
}
.wave{
	margin-top: 100px;
	width: 100%;
	height: auto;
	position: relative;
}
.wave>img{
	width: 100%;
	height: auto;

}
.wave>img:last-child{
	position: absolute;
	width: 100%; height: auto;
	top: 0; left:0;
}
.marquee-box{
	overflow:hidden;
	width:100%;
	position:absolute;
	left:0;top:0
}
.marquee{
	width:8000%;
	height:250px
}
.wave-list-box{
	float:left
}
.wave-list-box ul{
	float:left;
	height:250px;
	overflow:hidden;
	zoom:1;
	padding-left: 0;
}
.wave-list-box ul li{
	height:250px;
	width:100%;
	float:left;
	line-height:30px;
	list-style:none
}
.wave-box{
	position:relative;
	height:250px;
	background:#222
}
.history{
	width: 100%;
	height: auto;
	background: #fff;
	padding-top: 70px;
	padding-bottom: 100px;
}
.history p.title02{
	width: 172px;
	height: 123px;
	background: url(img/title02.png);
	margin: auto;
}
.history>div{
	width: 100%;
	margin-top: 100px;
	height: auto;
	overflow: hidden;
	font-family: 'Colonna MT';
	position: relative;
}
.history_intr{
	width: 50%;
	float: left;
	display: none;
}
.history_intr li{
	width: 100%;
	overflow: hidden;
}
.history_intr li img{
	width: 50%;
	height: auto;
}
.history_intr li div{
	width: 50%;
	height: 100%;
	padding-left: 30px;
}
.history_intr li div p:nth-child(1){
	font-size: 73px;
}
.history_intr li div p:nth-child(2){
	font-size: 20px;
	color: #222;
}
.history_intr li div p:nth-child(3){
	font-family:'SimHei';
	font-size: 20px;
}
.history_intr li:nth-child(1) img{
	float: left;
}
.history_intr li:nth-child(2) img{
	float: right;
}
.history_intr li:nth-child(1) div{
	float: right;
}
.history_intr li:nth-child(2) div{
	float: left;
}
#pre,#next{
	width: 50px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: 50%; 
	margin-top: -25px;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	color: black;
	font-family: "SimHei";
}

#backToP>a{
	display: block;
	width: 50px; height: 50px;
	background: #00a599;
	color: white;
	position: fixed;
	right: 50px;
	bottom: 150px;
	z-index: 99;
	cursor: pointer;
	text-align: center;
	line-height: 28px;
	border: none;
	display: none;
}