
.slider-wrap {
  background: white;
  height: 678px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.slider {
  width: 100%;
  height: 100%;
}
.slider>img{
  height: 678px;
  width: auto;
}
.slider strong { color: #F0E10E; }
article {
  position: relative;
}
.title {
  padding: 1em 0;
  position: relative;
}
.code,


